scrape_configs:

  - job_name: "klipper"
    scrape_interval: 5s
    metrics_path: /probe
    static_configs:
      - targets: [ 'klipper.home.lan:7125' ]
    params:
      modules: [ 'process_stats', 'network_stats', 'system_info', 'job_queue', 'directory_info', 'printer_objects', 'history' ]
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: study-imac.home.lan:9101

  - job_name: "klipper-exporter"
    scrape_interval: 5s
    metrics_path: /metrics
    static_configs:
      - targets: [ 'study-imac.home.lan:9101' ]
