# Systemd Prometheus Klipper Exporter Service

[Unit]
Description=Prometheus exporter for Klipper.
After=moonraker.service
StartLimitBurst=6
StartLimitIntervalSec=5

[Service]
User=pi
WorkingDirectory=/home/pi/klipper-exporter
EnvironmentFile=/home/pi/klipper-exporter/prometheus-klipper-exporter.env
ExecStart=/home/pi/klipper-exporter/prometheus-klipper-exporter -logging.level Warning
Restart=always
RestartSec=1s

[Install]
WantedBy=multi-user.target